.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  .wrapper{
    display: flex;
    align-items: center;

    .header-menu{
      list-style-type: none;
      padding-right: -10px;
      border-right: 1px solid rgb(194, 194, 194);

      >li {
        display: inline-block;

        >a {
          display: block;
          font-size: 16;
          color: #222;
          padding: 0 6px;
          text-decoration: none;
        }
      }
    }

    .buttons{
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;
      outline: none;
      padding-left: 10px;

      .menu-button{
        font-size: 16;
        color: #222;
      }
    }
  }
}